@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4; /* Updated background color */
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.title {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  font-size: 2em;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.question {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333; /* Improved text color */
}

.questionBox {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.answerBtn {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.answerBtn:hover {
  background-color: #0056b3;
}

.score-board {
  text-align: center;
}

.score {
  font-size: 2em;
  font-weight: bold;
  margin-top: 20px;
  color: #007bff; /* Updated score color */
}

.playBtn {
  padding: 12px 24px;
  font-size: 1.2em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.playBtn:hover {
  background-color: #0056b3;
}

.level-selection {
  text-align: center;
  margin-top: 20px;
}

.level-selection h2 {
  font-size: 1.4em;
  margin-bottom: 10px;
  color: #333333;
}

.level-selection button {
  background-color: #007bff;
  color: #fff;
  font-size: 1.2em;
  padding: 12px 24px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.level-selection button:hover {
  background-color: #0056b3;
}
